.stock-show {
  border: 1px solid rgba(112, 108, 108,0.5);
  height: 120px;
  margin-bottom: 20px;
}
.AiOutlineMenu-position {
  margin-top: 2.4rem;
  margin-left: 1.5rem;
}

.stock-show {
  display: flex;
  justify-content: start;
}
.spaceBox {
  margin-top: 10px;
}
.spaceBox1 {
  margin-left: 30px;
  margin-top: 20px;
}
* {
  margin: 0px;
  padding: 0px;
}
.total_amount {
  color: rgb(46, 186, 241);
}
.box2 {
  word-wrap: wrap;
  width: 7rem;
  position: absolute;
  left: 10%;
}
.iShareColor {
  color: green;
  font-weight: bold;
  margin-top: 0.2rem;
}
.box3 {
  word-wrap: wrap;
  width: 8rem;
  margin-top: 20px;
  position: absolute;
  left: 18.5%;
}
.box4 {
  margin-top: 20px;
  font-weight: bold;
  position: absolute;
  left: 27.8%;
}
.box5 {
  margin-top: 20px;
  position: absolute;
  left: 35%;
}
.box6 {
  margin-top: 20px;
  position: absolute;
  left: 45%;
  font-weight: bold;
}
.box7 {
  margin-top: 20px;
  position: absolute;
  left: 51%;
  font-weight: bold;
}
.spaceText {
  margin-left: 4rem;
}
.colorSize {
  color: green;
  font-size: 2rem;
}
.colorSize2 {
  color: red;
  font-size: 2rem;
}
.box8 {
  margin-top: 20px;
  position: absolute;
  left: 68%;
  font-weight: bold;
}
.progressbar {
  max-height: 8px;
  margin-top: 8px;
}
.progressbar .progress-bar {
  background-color: #00bd59;
}
.margin-price {
  margin-left: 1.4rem;
}
.margin2-price {
  margin-left: 0.5rem;
  font-weight: bold;
}


.unrealized-progress .negative .progress-bar {
    margin-left: -50%;
    background-color: red;
    margin-right: 50%;
}
.unrealized-progress .positive .progress-bar {
    background-color: #00bd59;
    margin-left: 50%;
}
.unrealized-progress .progress-bg {
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    height: 8px;
    position: relative;
    overflow: hidden;
}
.unrealized-progress .progress-bg .positive {
    background-color: #00bd59;
    margin-left: 50%;
    height: 8px;
    position: absolute;
}
.unrealized-progress .progress-bg .negative {
    background-color: red;
    height: 8px;
    position: absolute;
}